@tailwind base;
@tailwind components;
@tailwind utilities;



/* Reset default table styles */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Style table rows */
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Allow input and p tags to fit in the cells */
td input,
td select,
td p {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: inherit;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e1f5fe;
}

input:focus,
select:focus {
    text-align: left;
    border: none;
    outline: none;
}

tr.active {
    background-color: rgb(191 219 254);
}